.page-header{
    background-color: #ff9400;
    margin-top: 10px;
    padding: 20px 20px 20px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1 a {
    color: #FCA205;
    font-family: 'Heebo', sans-serif;
}


/*.date {*/
    /*color: #828282;*/
/*}*/

/*.save {*/
    /*float: right;*/
/*}*/

/*.post-form textarea, .post-form input {*/
    /*width: 100%;*/
/*}*/

/*.top-menu, .top-menu:hover, .top-menu:visited {*/
    /*color: #ffffff;*/
    /*float: right;*/
    /*font-size: 26pt;*/
    /*margin-right: 20px;*/
/*}*/

body {
    padding-left: 5px;
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
}

/*.post-form textarea, .post-form input {*/
    /*width: 100%;*/
/*}*/

/*.top-menu, .top-menu:hover, .top-menu:visited {*/
    /*color: #ffffff;*/
    /*float: right;*/
    /*font-size: 26pt;*/
    /*margin-right: 20px;*/
/*}*/

.post {
    margin-bottom: 60px;
}

.post h3 a{
    color: #FF8A4A;
    font-family: 'Cantarell', sans-serif;
}

.post h3 a:visited {
    color: #da8a4c;
    font-family: 'Cantarell', sans-serif;
}
